# python crap
*.pyc
__pycache__/

# Ignoring nohup file:
nohup.out


# Notebook gitignore template
.ipynb_checkpoints
*/.ipynb_checkpoints/*


.recommenders
*.json
*.csv
*.txt
*.xml
*.idea

# External tool builders
.externalToolBuilders/


